.card-deck-container {
  /* position: relative; */
  margin: auto;
  padding-top: 10%;
  /* width: 960px;
    padding-bottom: 10%; */
}

.container-custom {
  width: 540px;
  margin: 0 auto;
  height: 100%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

/* Css button create pet */
.pushme {
  position: relative;
  font-weight: 700;
  background-color: #384d9d;
  border-radius: 50%;
  display: inline-block;
  /* margin: 1em 1em 0 1em; */
}
.pushme .inner {
  display: inline-block;
  background-color: #f6f3eb;
  border-radius: 50%;
  border: 0.3em solid #384d9d;
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transform: translate3d(0.15em, -0.4em, 0);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 220ms;
}
.pushme:active .inner,
.pushme.click .inner {
  transform: translate3d(0, 0, 0);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}

.pushme:hover .inner {
  border: 0.3em solid #061f7b;
}
.pushme:hover {
  background-color: #061f7b;
}

.sig {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
/* End css button create pet  */

.card-create-pet {
  margin-top: 5em;
}

.margin-0 {
  margin: 0;
}

.header-create {
  margin-bottom: 1em;
  border-radius: 0 0 100% 60%;
  background-image: linear-gradient(177deg, #70b96d, #24b51f);
  padding-bottom: 1.3em;
  padding-top: 1em;
  color: black;
}

.infor-pet {
  text-align: left;
}

.btn-create-pet {
  text-align: left;
  padding-top: 1em;
}

.infor-wallet {
  font-size: 2.2em;
}

/* .slide-custom {
  background-image: linear-gradient(167deg, #39d142, #00a041);
  border-radius: 10%;
  margin-top: 2em;
} */

@media (max-width: 576px) {
  /* .carousel {
      margin-bottom: 3em;
  } */

  .container-custom {
    width: 100%;
    margin: 0 auto;
  }

  .card-header img {
    height: 150px;
  }

  .card-header-default-card img {
    height: 180px;
  }

  .progress {
    height: 20px;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .gif-load {
    margin: 0 auto;
    width: 100%;
  }

  .infor-wallet {
    font-size: 1.8em;
  }

  .btn-create-pet {
    padding-top: 0.5em;
    text-align: right;
  }

  .pushme .inner {
    padding: 0.7em;
  }
}
