.manipulation_form {
  /* margin: 5%; */
}

.pet_info {
  text-align: left;
  font-size: 16px;
  padding: 5%;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin: 2%;
}
